@model string

<div class="panel panel-primary">
    <div class="panel-heading">Gerätespezifische Parameter</div>
    <div class="panel-body">
        @await Component.InvokeAsync(ViewData["ManufacturerParametersViewName"].ToString(), new { deviceId = Model })
    </div>
</div>
