<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
        <clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="local" value="../private-packages" />
	</packageSources>
    <packageSourceMapping>
        <packageSource key="local">
            <package pattern="IVU.*" />
            <package pattern="TRuDI.*" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="IVU">
            <package pattern="IVU.Metering.Iec1107" />
        </packageSource>
        <packageSource key="DevExpress">
            <package pattern="DevExpress.Maui.DataGrid" />
        </packageSource>
    </packageSourceMapping>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<bindingRedirects>
		<add key="skip" value="False" />
	</bindingRedirects>
	<packageManagement>
		<add key="format" value="0" />
		<add key="disabled" value="False" />
	</packageManagement>
	<packageSourceCredentials>
	</packageSourceCredentials>
</configuration>